<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/posts"><%= blog.title %></a>
      <p class="navbar-text"><%= blog.description %></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          	<% if (user) { %>
              <li>
                <a href="/posts?author=<%= user._id %>">
                  <img class="avatar-xs" src="/img/<%= user.avatar %>">
                </a>
              </li>
          	  <li>
                <a href="/posts?author=<%= user._id %>">
                  个人主页
                </a>
              </li>
          	  <li role="separator" class="divider"></li>
          	  <li><a href="/posts/create">发表文章</a></li>
          	  <li><a href="/signout">登出</a></li>
          	<% } else { %>
          	  <li><a href="/signin">登录</a></li>
          	  <li><a href="/signup">注册</a></li>
          	<% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
<!-- <div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/posts"><h1><%= blog.title %></h1></a>
      <p><%= blog.description %></p>
    </div>
  </div>
</div> -->
