<div class="container-fluid post">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="/posts?author=<%= post.author._id %>" class="author">
          <img class="avatar" src="/img/<%= post.author.avatar %>"><%= post.author.name %>
        </a>
        ^o^-> <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>
        <p class="bio"><%= post.author.bio %></p>
      </h3>
    </div>
    <div class="panel-body">
      <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
          <div><%- post.content %></div>
          <div>
            <span class="tag"><%= post.created_at %></span>
            <span class="tag right">
              <span>浏览(<%= post.pv %>)</span>
              <span>留言(<%= post.commentsCount %>)</span>

              <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                <span class="dropdown-toggle caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <span class="caret"></span> -->
                  </span>
                  <ul class="dropdown-menu">
                    <li><a href="/posts/<%= post._id %>/edit">编辑</a></li>
                    <li><a href="/posts/<%= post._id %>/remove">删除</a></li>
                  </ul>
              <% } %>
            </span>
          </div>
    </div>
  </div>
</div>
